.login-form-container .password-container > div:first-child {
  margin-bottom: 0.5rem;
}

.accept-conditions {
  display: flex;
  font-size: .8rem;
  color: grey;
  margin-bottom: .5rem;
}
.accept-conditions > input {
  margin-right: 0.5rem;
}


