.user-info-container .profilepicture-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-container .profilepicture-container img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.username-container .name {
  font-weight: 800;
}

.username-container .username {
  color: grey;
}

.website-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.website-container a {
  color: purple;
}
.joining-date-container {
  display: flex;
  align-items: center;
  color: grey;
}

.post-followers-following-container {
  display: flex;
}

.post-followers-following-container p {
  font-weight: 700;
  margin-right: 1rem;
}

.post-followers-following-container span {
  color: grey;
  font-weight: 400;
}

.modal-content {
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: fixed;
  z-index: 11;
  background-color: white;
}
