

.sorting-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.adjustment-btn {
  border: 1px solid black;
}

.dropdown-list-container {
  top: 90%;
  right: 1%;
  position: absolute;
  border: 1px solid black;
}
.dropdown-list-container ul {
  list-style: none;
}

.input-container {
  display: flex;
  flex-flow: column nowrap;
}




