.discover-container {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  align-self: flex-start;
  background-color: rgb(22, 24, 28);
  color: white;
  border-radius: 1rem;
  padding: 1.2rem;
}

.discover-header {
  padding-bottom: 1rem;
  font-weight: 800;
  font-size: 1.4rem;
}

.discover-user-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 0;
}
.discover-user-img-container {
  margin-right: 0.7rem;
}

.discover-user-img-container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.user-name-username-container .name {
  font-weight: 700;
  display: inline-block;

  border: 1px solid black;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}

.user-name-username-container .username {
  color: grey;
  text-overflow: ellipsis;
  border: 1px solid black;
  /* width: 80px;
  overflow: hidden; */

  border: 1px solid black;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}

.follow-container {
  flex-grow: 1;
  border: 1px solid black;
  text-align: right;
}
.follow-container button {
  margin-right: auto;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: 800;
  font-size: 0.9rem;
}

@media (min-width: 900px) {
  .user-name-username-container .name {
    width: 8vw;
  }

  .user-name-username-container .username {
    width: 8vw;
  }
}

@media (min-width: 1200px) {
  .user-name-username-container .name {
    width: 8vw;
  }

  .user-name-username-container .username {
    width: 8vw;
  }
}
