.discover-container {
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  align-self: flex-start;
  background-color: rgb(22, 24, 28);
  color: white;
  border-radius: 1rem;
  padding: 1.2rem 0rem;
  max-height: 80vh;
}

.discover-body {
  overflow-y: auto;
}

.discover-header {
  padding: 0.5rem 1rem 1rem 1rem;
  font-weight: 800;
  font-size: 1.4rem;
}

.discover-user-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

.discover-user-card:hover {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}
.discover-user-img-container {
  margin-right: 0.7rem;
}

.discover-user-img-container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.user-name-username-container .name {
  font-weight: 700;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}

.user-name-username-container .username {
  color: grey;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}

.follow-container {
  flex-grow: 1;
  text-align: right;
}
.follow-container button {
  margin-right: auto;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: 800;
  font-size: 0.9rem;
  cursor: pointer;
}
.follow-container button:hover {
  background-color: rgb(199, 199, 199);
}

@media (min-width: 900px) {
  .user-name-username-container .name {
    width: 9vw;
  }

  .user-name-username-container .username {
    width: 9vw;
  }
}

@media (min-width: 1200px) {
  .user-name-username-container .name {
    width: 8vw;
  }

  .user-name-username-container .username {
    width: 8vw;
  }
}
