.modal-content .input-container .text-content-container {
  display: flex;
  align-items: start;
}

.modal-content .input-container textarea {
  background-color: rgb(36, 36, 36);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  display: flex;
}

.modal-content .input-container .close-create-post-modal {
  cursor: pointer;
  background-color: rgb(41, 41, 41);
  color: white;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 1.5rem;
  opacity: 0.9;
  margin: 0;
  margin-left: 0.5rem;
}

.modal-content .close-create-post-modal:hover {
  background-color: rgb(79, 79, 79);
}

.modal-content .input-btn-container {
  margin-top: 1rem;
}

.modal-content .input-btn-container .post-btn-container input {
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--white);
  cursor: pointer;
}

.modal-content .input-btn-container .toolbar-container > * {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.modal-content .input-btn-container .toolbar-container .smily-emoji {
  font-size: 1.7rem;
}

.smily-emoji {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-top: -0.1rem;
  cursor: pointer;
}

.file-icon {
  cursor: pointer;
}

.close-emoji-model {
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  color: white;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 1.5rem;
  opacity: 0.9;
}

.close-emoji-model:hover {
  background-color: rgb(89, 89, 89);
}

.emoji-modal-container {
  z-index: 13;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  margin: auto;
}

.modal-emoji-body {
  width: 70%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  position: fixed;
  z-index: 15;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0px 0px 19px -1px rgb(89, 89, 89);
  border-radius: 1rem;
  padding: 0.5rem;
  /* margin: 1rem; */
}

.modal-emoji-body span {
  cursor: pointer;
}
.close-emoji-model {
  align-self: flex-end;
  cursor: pointer;
}

.emoji-body-container {
  display: flex;
  flex-flow: column nowrap;
}

.modal-emoji-body .emojis {
  display: flex;
  flex-flow: row wrap;
}

.modal-emoji-body .emojis span {
  padding: 0.5rem 0.2rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .modal-emoji-body {
    width: 30%;
    margin-top: 10%;
  }
}
