.navbar {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
}

.navlink {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 2rem;
}

.navlink:hover {
  background-color: var(--hover-background);
}

.navlink-icon {
  font-weight: 500;
  font-size: 25px;
  padding: 0rem;
}

.navlink p {
  display: none;
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 20px;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

.navbar .create-new-post-btn {
  position: absolute;
  bottom: 150%;
  right: 6%;
}
.navbar .create-new-post-btn span {
  display: none;
}

.create-post-modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  margin: auto;
}

.modal-content {
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: fixed;
  z-index: 11;
  background-color: white;
}

.create-new-post-btn {
  border: none;
  padding: 1.5rem 1.5rem 1.2rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--white);
  align-self: center;
  cursor: pointer;
}
.create-new-post-btn:hover{
  background-color: var(--primary-color-hover)
}

@media (min-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }
  .navbar ul {
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 10px;
  }
  .navlink-icon {
    font-size: 30px;
  }

  .navbar .create-new-post-btn {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .navlink-icon {
    margin-left: 0;
  }
  .navbar li {
    margin-bottom: 15px;
  }

  .modal-content{
    width: 80%;
  }

  .create-new-post-btn {
    border: none;
    padding: 1.5rem 1.5rem 1.2rem 1.5rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white);
    margin-top: 1rem;
    align-self: center;
    cursor: pointer;
  }

  .create-new-post-btn > span {
    display: none;
  }

  .feather-icon {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0.5rem 1.5rem;
  }
  .navlink p {
    display: inline;
  }
  .navlink {
    margin: 0 0.5rem;
  }
  .navlink-icon {
    font-size: 30px;
  }

  .navbar ul {
    flex-flow: column nowrap;
    align-items: stretch;
    margin-top: 10px;
  }
  .navlink-icon {
    margin-left: 1vw;
  }

  .navbar li {
    margin-bottom: 15px;
  }

  .navbar .create-new-post-btn span {
    display: inline;
  }

  .modal-content{
    width: 80%;
  }

  .create-new-post-btn {
    cursor: pointer;
    border: none;
    padding: 0.9rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--white);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
  }
  .create-new-post-btn span {
    margin-left: 0.9rem;
  }
}
