.edit-modal-header-container {
  display: flex;
}

.edit-modal-header-container span:last-child {
  flex-grow: 1;
  border: 1px solid black;
  text-align: right;
}

.edit-profile-img-container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.edit-profile-img-container input {
  display: none;
}

.edit-profile-modal-body .username-container p {
  font-weight: 600;
}

.edit-profile-modal-body .username-container span {
  color: grey;
}

.bio-container,
.user-website-container {
  display: flex;
  flex-direction: column;
}
