.edit-comment-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

.comment-card {
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row nowrap;
}

.comment-main-section {
  width: 100%;
}

.user-comment {
  max-width: 400px;
  height: auto;
  word-break: break-word;
  margin-top: .2rem;
}
.comment-card .comment-user-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 0.5rem;
  /* border: 1px solid var(--primary-color); */
}

.comment-toolbar .edit {
  top: -5px;
}

.username-container .edit {
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;
  display: flex;
}

.edit-comment-container textarea {
  margin: 0 0.5rem;
  flex-grow: 1;
  height: 60px;
  display: flex;
  color: white;
  border: none;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  width: 20px;
  background-color: rgb(26, 26, 26);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.edit-comment-container textarea:focus {
  outline: none;
}

.edit-comment-container button {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
  margin-left: 0.5rem;
}
.comment-toolbar-menu-container {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  border-radius: 1rem;
  box-shadow: 0px 0px 19px -1px rgb(69, 69, 69);
  width: 150px;
}

.comment-toolbar-menu-container p {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: black;
  text-align: left;
}

.comment-toolbar-menu-container p:hover {
  background-color: var(--hover-background);
}

.comment-toolbar-menu-container p:first-child {
  border-radius: 1rem 1rem 0rem 0rem;
}

.comment-toolbar-menu-container p:last-child {
  border-radius: 0 0 1rem 1rem;
}

.user-profile-img-container {
  margin-right: 0.5rem;
}

.comments-input-section-container {
  display: flex;
}

@media (min-width: 768px) {
  .user-comment {
    max-width: 200px;
    height: auto;
  }
}

@media (min-width: 900px) {
  .user-comment {
    max-width: 500px;
    height: auto;
  }
}
