.post-card {
  display: flex;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--border-color);
}

.post-card:first-child {
  border-radius: 1rem 1rem 0 0;
}

.post-card:last-child {
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
}

.post-card-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-self: stretch;
  flex-grow: 1;
}

.profile-picture-container {
  border: 1px solid black;
  margin-right: 0.5rem;
}

.profile-picture-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
}

.name-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.name-container .name {
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
}

.name-container .date {
  color: grey;
  cursor: pointer;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
  overflow: hidden;
}
.comments-container {
  cursor: pointer;
  color: grey;
  padding: 0.5rem 0;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.comments-container:hover {
  color: var(--primary-color);
}
.comments-container > span {
  margin-left: 0.3rem;
  font-weight: 500;
  font-size: 0.95rem;
}

.comments-container .comment-icon,
.comments-container .like-icon,
.comments-container .share-icon,
.comments-container .bookmark-icon {
  font-size: 1.1rem;
}

.comments-container .like-icon {
  font-size: 1.3rem;
}
.comments-container .bookmark-icon {
  font-size: 1rem;
}

.bookmark-done-icon,
.like-done-icon {
  color: var(--primary-color);
}

.name-container .username {
  color: grey;
  cursor: pointer;

  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
}
.caption-container {
  width: 100%;
  /* border: 1px solid rgb(119, 119, 119); */
  padding: 0.2rem 0 0.6rem 0;
}

.post-card .media {
  cursor: pointer;
}

.three-dots-icon {
  font-size: 1.5rem;
  font-weight: 800;
  color: grey;
}
.three-dots-icon:hover {
  color: var(--primary-color);
}

.post-card .media video {
  width: 50%;
  border-radius: 1rem;
  /* object-fit: cover; */
  /* border: 3px solid green; */
}

.post-actions-container {
  display: flex;

  /* border: 1px solid white; */
}

.dropdown-list-container li {
  cursor: pointer;
}

.new-post-container .img-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.toolbar-container input {
  display: none;
}

.media > img {
  width: 50%;
  /* object-fit: cover; */

  border-radius: 1rem;
}

.username-container {
}

.name-container .edit {
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.action-menu-container {
  border: 1px solid black;
  position: absolute;
  top: 100%;
  right: 2%;
  display: flex;
  flex-flow: column nowrap;
}
.action-menu-container p {
  cursor: pointer;
}

.like-modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  margin: auto;
}

.create-post-modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  margin: auto;
}

.modal-content {
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: fixed;
  z-index: 11;
  background-color: white;
}
.likes-content {
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: fixed;
  z-index: 11;
  background-color: white;
}

.user-img-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.likes-header {
  display: flex;
  justify-content: space-between;
}
.likes-details-container {
  cursor: pointer;
}

.comments-input-section-container {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.comments-input-section-container img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.comment-button-container {
  flex-grow: 1;
  text-align: right;
  border: 1px solid black;
}

.comment-card {
  display: flex;
}

.comment-card img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.comment-card .username-container {
  display: flex;
}

.comment-toolbar {
  border: 1px solid black;
  text-align: right;
  flex-grow: 1;
  position: relative;
}

.comment-main-section {
  flex-grow: 1;
}

.comment-toolbar-menu-container {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid black;
}

.comment-toolbar-menu-container p {
  cursor: pointer;
}

@media (min-width: 768px) {
  .comments-container {
    cursor: pointer;
    color: grey;
    padding: 0.5rem 0;
    margin-right: 4rem;
    display: flex;
    align-items: center;
  }

  .comments-container > span {
    margin-left: 0.5rem;
    font-weight: 500;
  }

  .comments-container .comment-icon,
  .comments-container .like-icon,
  .comments-container .share-icon,
  .comments-container .bookmark-icon {
    font-size: 1.2rem;
  }

  .comments-container .like-icon {
    font-size: 1.4rem;
  }
  .comments-container .bookmark-icon {
    font-size: 1.1rem;
  }

  .name-container .name,
  .name-container .date,
  .name-container .username {
    max-width: 200px;
  }
}
