.post-card {
  display: flex;
  border: 1px solid black;
  width: 100%;
}
.post-card-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  border: 1px solid orange;
  justify-self: stretch;
  flex-grow: 1;
}

.profile-picture-container {
  border: 1px solid black;
}

.profile-picture-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
}

.name-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 2;
}
.name-container .name {
  font-weight: 700;
  border: 1px solid black;
  cursor: pointer;
}

.name-container .date {
  color: grey;
  border: 1px solid black;
  cursor: pointer;
}
.comments-container{
  cursor: pointer;
}

.name-container .username {
  color: grey;
  border: 1px solid black;
  cursor: pointer;
}
.caption-container {
  width: 100%;
  border: 1px solid black;
}

.post-card .media {
  cursor: pointer;
}

.post-card .media video {
  width: 50%;
  /* object-fit: cover; */
  border: 3px solid green;
}

.post-actions-container {
  display: flex;
  justify-content: space-around;
}

.dropdown-list-container li {
  cursor: pointer;
}

.new-post-container .img-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.toolbar-container input {
  display: none;
}

.media > img {
  width: 50%;
  /* object-fit: cover; */
  border: 3px solid green;
}

.username-container {
  border: 1px solid green;
}

.name-container .edit {
  border: 1px solid blue;
  z-index: 3;
  cursor: pointer;
  /* position : relative */
}

.action-menu-container {
  border: 1px solid black;
  position: absolute;
  top: 100%;
  right: 2%;
  display: flex;
  flex-flow: column nowrap;
}
.action-menu-container p {
  cursor: pointer;
}

.modal-content {
  width: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  position: fixed;
  z-index: 11;
  background-color: white;
}
