.new-post-container {
  border: 1px solid var(--border-color);
  display: flex;
  align-items: flex-start;
  opacity: 1;
  padding: 1.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.new-post-container .input-container {
  flex-grow: 1;
  justify-content: flex-start;
}

.new-post-container .media-container video {
  width: 50%;
  border-radius: 1rem;
}

.new-post-container .media-container img {
  width: 50%;
  border: none;
  border-radius: 1rem;
}

.new-post-container .media-container {
  position: relative;
}

.new-post-container .close-media {
  position: absolute;
  right: 50%;
  top: 0;
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  color: white;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 1.5rem;
  opacity: 0.9;
}

.new-post-container .close-media:hover {
  background-color: rgb(89, 89, 89);
}

.text-content-container {
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.text-content-container > textarea {
  flex-grow: 1;
  height: 100px;
  display: flex;
  padding: 0.5rem 0.8rem;
  background-color: black;
  color: white;
  border: none;
  resize: none;
  font-size: 1.2rem;
  font-family: inherit;
  width: 20px;
}

.text-content-container > textarea:focus {
  outline: none;
}

.text-content-container > textarea::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.2rem;
}

.close-create-post-modal {
  cursor: pointer;
  background-color: black;
  color: white;
  align-self: stretch;
  margin: 0.5rem;
}

.emoji-modal-container {
  z-index: 13;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  margin: auto;
}

.modal-emoji-body {
  width: 70%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  position: fixed;
  z-index: 15;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem;
  padding: 0.5rem;
}

.modal-emoji-body span {
  cursor: pointer;
}
.close-emoji-model {
  align-self: flex-end;
  cursor: pointer;
}

.emoji-body-container {
  display: flex;
  flex-flow: column nowrap;
}

.modal-emoji-body .emojis {
  display: flex;
  flex-flow: row wrap;
}

.modal-emoji-body .emojis span {
  padding: 0.5rem 0.2rem;
  font-size: 1.5rem;
}

.img-container {
  cursor: pointer;
  margin-right: 0.5rem;
}

.toolbar-container {
  color: var(--primary-color);
  font-size: 1.3rem;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.smily-emoji {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-top: -0.1rem;
  cursor: pointer;
}

.file-icon {
  cursor: pointer;
}

.input-btn-container {
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem;
}

.post-btn-container > button {
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--white);
  cursor: pointer;
}

.post-btn-container button:disabled {
  cursor: default;
  background-color: rgb(0, 96, 161);
  color: rgb(184, 184, 184);
}

.close-emoji-model {
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  color: white;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 1.5rem;
  opacity: 0.9;
}

.close-emoji-model:hover {
  background-color: rgb(89, 89, 89);
}

@media (min-width: 768px) {
  .new-post-container {
    margin: 0;
  }
  .modal-emoji-body {
    width: 30%;
    margin-top: 10%;
  }
  .text-content-container > textarea {
    resize: none;
    font-size: 1.3rem;
  }

  .text-content-container > textarea::placeholder {
    font-size: 1.3rem;
  }
}
