* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}

.app-container {
  border: 2px solid red;
  display: flex;
  flex-flow: column nowrap;
}

.feed {
  /* position: relative;
  z-index: 3; */

  border: 2px solid blue;
  height: 93.5vh;
  overflow: auto;
  order: 2;
}
.navbar {
  order: 3;
  position: sticky;
  bottom: 0px;
}

.discover {
  /* position: relative;
  z-index: 4; */
  display: none;
}

@media (min-width: 768px) {
  .app-container {
    border: 5px solid red;
    flex-flow: row;
  }

  .feed {
    border: 2px solid blue;
    height: 95vh;
    overflow: auto;
    width: 60%;
  }

  .discover {
    display: flex;
    order: 3;
    border: 1px solid blue;
    width: 20%;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
  }
}
