.error-page-container {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 4rem;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.error-page-container button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: 800;
  font-size: 0.9rem;
  cursor: pointer;
}

.error-page-container button:hover {
  background-color: rgb(199, 199, 199);
}
